Repository alloy-rs/alloy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danipopes, @evalir, @gakonst, @prestwich

chore: update lints, READMEs, manifests
  .github/workflows/ci.yml
  Cargo.toml
  crates/json-rpc/Cargo.toml
  crates/json-rpc/src/common.rs
  crates/json-rpc/src/lib.rs
  crates/networks/Cargo.toml
  crates/networks/README.md
  crates/networks/src/lib.rs
  crates/providers/Cargo.toml
  crates/providers/README.md
  crates/providers/src/lib.rs
  crates/pubsub/Cargo.toml
  crates/pubsub/README.md
  crates/pubsub/src/lib.rs
  crates/rpc-client/Cargo.toml
  crates/rpc-client/README.md
  crates/rpc-client/src/call.rs
  crates/rpc-client/src/lib.rs
  crates/rpc-types/Cargo.toml
  crates/rpc-types/README.md
  crates/rpc-types/src/lib.rs
  crates/transport-http/Cargo.toml
  crates/transport-http/README.md
  crates/transport-http/src/lib.rs
  crates/transport-ws/Cargo.toml
  crates/transport-ws/README.md
  crates/transport-ws/src/lib.rs
  crates/transport-ws/src/native.rs
  crates/transport-ws/src/wasm.rs
  crates/transport/Cargo.toml
  crates/transport/README.md
  crates/transport/src/lib.rs
Owners: @danipopes, @evalir, @gakonst, @prestwich

chore: make implicit features explicit
  crates/rpc-types/Cargo.toml
  crates/rpc-types/src/eth/block.rs
  crates/rpc-types/src/eth/filter.rs
Owners: @danipopes, @evalir, @gakonst, @prestwich

fmt: sort imports
  crates/json-rpc/src/lib.rs
  crates/json-rpc/src/notification.rs
  crates/json-rpc/src/packet.rs
  crates/json-rpc/src/request.rs
  crates/json-rpc/src/response/mod.rs
  crates/json-rpc/src/response/payload.rs
  crates/json-rpc/src/result.rs
  crates/providers/src/builder.rs
  crates/providers/src/lib.rs
  crates/providers/src/provider.rs
  crates/pubsub/src/frontend.rs
  crates/pubsub/src/ix.rs
  crates/pubsub/src/managers/active_sub.rs
  crates/pubsub/src/managers/in_flight.rs
  crates/pubsub/src/managers/req.rs
  crates/pubsub/src/managers/sub.rs
  crates/pubsub/src/service.rs
  crates/rpc-client/src/batch.rs
  crates/rpc-client/src/builder.rs
  crates/rpc-client/src/client.rs
  crates/rpc-client/tests/it/http.rs
  crates/rpc-client/tests/it/ws.rs
  crates/rpc-types/src/eth/pubsub.rs
  crates/rpc-types/src/eth/state.rs
  crates/rpc-types/src/eth/transaction/typed.rs
  crates/rpc-types/src/eth/withdrawal.rs
  crates/rpc-types/src/serde_helpers/mod.rs
  crates/rpc-types/src/serde_helpers/storage.rs
  crates/transport-http/src/backend.rs
  crates/transport-http/src/hyper.rs
  crates/transport-http/src/lib.rs
  crates/transport-http/src/reqwest.rs
  crates/transport-ws/src/lib.rs
  crates/transport/src/boxed.rs
  crates/transport/src/trait.rs
  crates/transport/src/utils.rs
Owners: @prestwich, @evalir, @danipopes, @gakonst

chore: add config files from core
  clippy.toml
  deny.toml
Owners: @danipopes, @evalir, @gakonst, @prestwich

clippy
  crates/providers/src/lib.rs
  crates/rpc-types/src/lib.rs
Owners: @evalir, @prestwich, @danipopes, @gakonst

fmt: sync with core
  crates/json-rpc/src/common.rs
  crates/json-rpc/src/lib.rs
  crates/json-rpc/src/packet.rs
  crates/json-rpc/src/request.rs
  crates/json-rpc/src/response/error.rs
  crates/json-rpc/src/response/mod.rs
  crates/json-rpc/src/response/payload.rs
  crates/json-rpc/src/result.rs
  crates/providers/src/builder.rs
  crates/providers/src/lib.rs
  crates/providers/src/provider.rs
  crates/providers/src/utils.rs
  crates/pubsub/src/frontend.rs
  crates/pubsub/src/handle.rs
  crates/pubsub/src/lib.rs
  crates/pubsub/src/managers/active_sub.rs
  crates/pubsub/src/managers/in_flight.rs
  crates/pubsub/src/service.rs
  crates/rpc-client/src/batch.rs
  crates/rpc-client/src/builder.rs
  crates/rpc-client/src/call.rs
  crates/rpc-client/src/client.rs
  crates/rpc-client/tests/it/ws.rs
  crates/rpc-types/src/eth/block.rs
  crates/rpc-types/src/eth/call.rs
  crates/rpc-types/src/eth/filter.rs
  crates/rpc-types/src/eth/state.rs
  crates/rpc-types/src/eth/transaction/access_list.rs
  crates/rpc-types/src/eth/transaction/request.rs
  crates/rpc-types/src/eth/transaction/signature.rs
  crates/rpc-types/src/lib.rs
  crates/transport-http/src/hyper.rs
  crates/transport-http/src/lib.rs
  crates/transport-ws/src/native.rs
  crates/transport-ws/src/wasm.rs
  crates/transport/src/boxed.rs
  crates/transport/src/connect.rs
  crates/transport/src/error.rs
  crates/transport/src/utils.rs
  rustfmt.toml
Owners: @prestwich, @evalir, @danipopes, @gakonst

fmt: sync with core (#27)
  crates/json-rpc/src/common.rs
  crates/json-rpc/src/lib.rs
  crates/json-rpc/src/packet.rs
  crates/json-rpc/src/request.rs
  crates/json-rpc/src/response/error.rs
  crates/json-rpc/src/response/mod.rs
  crates/json-rpc/src/response/payload.rs
  crates/json-rpc/src/result.rs
  crates/providers/src/builder.rs
  crates/providers/src/lib.rs
  crates/providers/src/provider.rs
  crates/providers/src/utils.rs
  crates/pubsub/src/frontend.rs
  crates/pubsub/src/handle.rs
  crates/pubsub/src/lib.rs
  crates/pubsub/src/managers/active_sub.rs
  crates/pubsub/src/managers/in_flight.rs
  crates/pubsub/src/service.rs
  crates/rpc-client/src/batch.rs
  crates/rpc-client/src/builder.rs
  crates/rpc-client/src/call.rs
  crates/rpc-client/src/client.rs
  crates/rpc-client/tests/it/ws.rs
  crates/rpc-types/src/eth/block.rs
  crates/rpc-types/src/eth/call.rs
  crates/rpc-types/src/eth/filter.rs
  crates/rpc-types/src/eth/state.rs
  crates/rpc-types/src/eth/transaction/access_list.rs
  crates/rpc-types/src/eth/transaction/request.rs
  crates/rpc-types/src/eth/transaction/signature.rs
  crates/rpc-types/src/lib.rs
  crates/transport-http/src/hyper.rs
  crates/transport-http/src/lib.rs
  crates/transport-ws/src/native.rs
  crates/transport-ws/src/wasm.rs
  crates/transport/src/boxed.rs
  crates/transport/src/connect.rs
  crates/transport/src/error.rs
  crates/transport/src/utils.rs
  rustfmt.toml
Owners: @prestwich, @evalir, @danipopes, @gakonst

.github/CODEOWNERS:

* @danipopes @evalir @gakonst @prestwich

crates/json-rpc     @prestwich
crates/transports   @evalir @prestwich
crates/networks     @prestwich
crates/providers    @evalir @prestwich
