Repository alloy-rs/alloy, pull requests merged in 2025-03, with the labels that each got.

#2061 fix(rpc-types-mev): SimBundleLogs should contain all logs fields.
  crates/rpc-types-mev/src/mev_calls.rs
Labels: blocked, breaking, c-rpc-types

#2059 feat: remove preimage hashes from execution witness
  crates/rpc-types-debug/src/debug.rs
Labels: blocked, breaking, c-rpc-types

#2022 feat!: add eip1559 estimator type
  crates/provider/src/fillers/gas.rs
  crates/provider/src/provider/erased.rs
  crates/provider/src/provider/trait.rs
  crates/provider/src/utils.rs
Labels: enhancement, blocked, c-provider

#2119 feat(`provider`)!: trace api builder
  crates/provider/Cargo.toml
  crates/provider/src/ext/mod.rs
  crates/provider/src/ext/trace.rs
  crates/provider/src/ext/trace/mod.rs
  crates/provider/src/ext/trace/with_block.rs
  crates/provider/src/layers/cache.rs
  crates/provider/src/provider/trait.rs
  crates/provider/src/provider/with_block.rs
  crates/rpc-client/src/call.rs
Labels: enhancement, breaking, c-provider

#2127 feat(`eth-call`)!: rm borrowing from provider api
  crates/contract/src/call.rs
  crates/contract/src/eth_call.rs
  crates/provider/src/fillers/gas.rs
  crates/provider/src/fillers/mod.rs
  crates/provider/src/provider/erased.rs
  crates/provider/src/provider/eth_call/caller.rs
  crates/provider/src/provider/eth_call/mod.rs
  crates/provider/src/provider/eth_call/params.rs
  crates/provider/src/provider/multicall/mod.rs
  crates/provider/src/provider/trait.rs
Labels: breaking, c-provider

#2092 fix(`provider`): fill txs on `eth_call` ops
  crates/contract/src/call.rs
  crates/provider/src/fillers/join_fill.rs
  crates/provider/src/fillers/mod.rs
  crates/provider/src/fillers/wallet.rs
  crates/provider/src/lib.rs
  crates/provider/src/provider/eth_call/caller.rs
  crates/provider/src/provider/mod.rs
  crates/provider/src/provider/prov_call.rs
Labels: bug, c-provider

#2046 feat: introduce dedicated types for Any type aliases
  crates/network/Cargo.toml
  crates/network/src/any/mod.rs
  crates/network/src/lib.rs
  crates/rpc-types-eth/src/block.rs
Labels: enhancement, breaking, P-high

#2138 feat(`consensus`): separate RlpTx trait functionality
  crates/consensus/src/transaction/eip1559.rs
  crates/consensus/src/transaction/eip2930.rs
  crates/consensus/src/transaction/eip4844.rs
  crates/consensus/src/transaction/eip7702.rs
  crates/consensus/src/transaction/envelope.rs
  crates/consensus/src/transaction/legacy.rs
  crates/consensus/src/transaction/mod.rs
  crates/consensus/src/transaction/pooled.rs
  crates/consensus/src/transaction/rlp.rs
  crates/consensus/src/transaction/typed.rs
Labels: breaking, c-consensus

#2157 feat(`provider`): `decode_resp` for `EthCall`
  crates/contract/src/call.rs
  crates/provider/src/provider/eth_call/mod.rs
Labels: enhancement, c-provider

#2155 chore(`consensus`)!: rename `Recovered` methods
  crates/consensus/src/transaction/recovered.rs
  crates/network/src/any/mod.rs
  crates/network/src/any/unknowns.rs
  crates/rpc-types-eth/src/transaction/mod.rs
Labels: breaking, c-consensus

#2173 feat: mock transport instead of provider
  crates/json-rpc/src/request.rs
  crates/provider/src/builder.rs
  crates/provider/src/layers/mock.rs
  crates/provider/src/layers/mod.rs
  crates/provider/src/lib.rs
  crates/provider/src/provider/eth_call/caller.rs
  crates/provider/src/provider/eth_call/params.rs
  crates/provider/tests/it/main.rs
  crates/provider/tests/it/mock.rs
  crates/rpc-client/src/client.rs
  crates/transport/src/lib.rs
  crates/transport/src/mock.rs
Labels: breaking, c-provider, c-transport

#2175 feat(`types-beacon`): derive `TreeHash` for `BidTrace`
  Cargo.toml
  crates/rpc-types-beacon/Cargo.toml
  crates/rpc-types-beacon/src/relay.rs
Labels: enhancement, c-rpc-types-beacon

#1996 feat(`contract`): remove fake transport and provider traits
  Cargo.toml
  crates/contract/src/call.rs
  crates/contract/src/event.rs
  crates/contract/src/instance.rs
  crates/contract/src/lib.rs
Labels: enhancement, breaking, c-contract, P-high

#2216 feat(eips): serde untagged for EIP-7685 `RequestsOrHash`
  crates/eips/src/eip7685.rs
Labels: enhancement

#2212 fix(pubsub): wrap channel_size with Arc
  crates/pubsub/src/frontend.rs
Labels: blocked

#2240 chore(deps): c-kzg 2.0
  Cargo.toml
  crates/eips/Cargo.toml
  crates/eips/src/eip4844/builder.rs
  crates/eips/src/eip4844/env_settings.rs
  crates/eips/src/eip4844/g1_points.bin
  crates/eips/src/eip4844/g2_points.bin
  crates/eips/src/eip4844/sidecar.rs
  crates/eips/src/eip4844/trusted_setup_points.rs
Labels: blocked, breaking
