Repository alloy-rs/alloy, pull requests merged in 2025-05, with the labels that each got.

#2425 feat(eips): add more EIP-7594 constants
  crates/eips/src/eip7594.rs
  crates/rpc-types-engine/src/payload.rs
Labels: c-eips

#2427 feat(eips): Osaka blob params
  crates/eips/src/eip7840.rs
  crates/eips/src/eip7892.rs
Labels: c-eips

#2428 feat(eips): `BlobTransactionSidecarEip7594`
  crates/eips/src/eip4844/sidecar.rs
  crates/eips/src/eip7594/mod.rs
  crates/eips/src/eip7594/sidecar.rs
Labels: c-eips

#2433 fix(rpc-types-engine): use 7594 sidecar in `BlobsBundleV2`
  crates/rpc-types-engine/src/payload.rs
Labels: c-rpc-types

#2437 chore: bump jsonrpsee
  Cargo.toml
  crates/provider/tests/it/ws.rs
Labels: blocked

#2424 feat!: add source to recovery err
  crates/consensus/src/crypto.rs
Labels: blocked

#2446 feat(consensus): relax `TxEip4844WithSidecar` trait implementations
  crates/consensus/src/transaction/eip4844.rs
  crates/eips/src/eip4844/sidecar.rs
  crates/eips/src/eip7594/mod.rs
  crates/eips/src/eip7594/rlp.rs
  crates/eips/src/eip7594/sidecar.rs
Labels: c-consensus

#2451 chore: add a new fn for TxType derivation
  crates/rpc-types-eth/src/transaction/request.rs
Labels: c-rpc-types

#2465 chore(consensus): relax 4844 with sidecar creation
  crates/consensus/src/transaction/eip4844.rs
  crates/consensus/src/transaction/envelope.rs
Labels: c-consensus

#2527 feat: add some node types from beacon api
  crates/rpc-types-beacon/src/lib.rs
  crates/rpc-types-beacon/src/node.rs
Labels: c-rpc-types

#2525 chore: truncate input data for ots block on serialize
  crates/rpc-types-trace/src/otterscan.rs
Labels: c-rpc-types

#2534 feat: add additional qol block functions
  crates/rpc-types-eth/src/block.rs
Labels: c-rpc-types
